footer.footer
  .container
    .row
      .col-md-6
        h5.text-white &copy; #{new Date().getFullYear()} Eventstag. | with much &hearts; by Joseph Gitau
      .col-md-6
        .btn-wrapper.profile.text-right
          a.btn.btn-icon.btn-neutral.btn-round.btn-simple(target='_blank' href='https://github.com/joegitau' data-toggle='tooltip' data-original-title='Lets Gist')
            i.fab.fa-github
          a.btn.btn-icon.btn-neutral.btn-round.btn-simple(target='_blank' href='https://www.linkedin.com/in/joseph-gitau-3a244a8/' data-toggle='tooltip' data-original-title='Connect with Me')
            i.fab.fa-linkedin

script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' )
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' )
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
script(src='https://cdn.tiny.cloud/1/50l9t1uuaw1wj38zb2d0pc8h9hy2aaaxaialer9jkmb2z1wk/tinymce/5/tinymce.min.js')


script(src='https://cdnjs.cloudflare.com/ajax/libs/printThis/1.15.0/printThis.min.js' )

script(src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
script(src='https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js')
script(src='https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js ')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js')
script(src='https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js')
script(src='https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js')
script(src='https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js')
script(src='https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js')

script(src="/js/app.min.js")
script(src="/js/dt_users.js")
script(src="/js/dt_events.js")
script(src="/js/dt_guests.js")

