nav.navbar.navbar-expand-lg.bg-transparent.navbar-absolute
  .container
    .navbar-translate
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#example-header-5' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-bar.bar1
        span.navbar-toggler-bar.bar2
        span.navbar-toggler-bar.bar3
      a.navbar-brand(href='/') 
        img(src='/img/eventstag-logo-mini.png' alt='eventstag logo')
    #example-header-5.collapse.navbar-collapse
      .navbar-collapse-header
        .row
          .col-6.collapse-brand
            a
              | EVENTSTAG 
          .col-6.collapse-close.text-right
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#example-header-5' aria-controls='navigation-index' aria-expanded='false' aria-label='Toggle navigation')
              i.fas.fa-times
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='/about')
            | About
        if user 
          ul.navbar-nav.ml-auto
            li.dropdown.nav-item
              a.dropdown-toggle.nav-link(href='javascript:void(0)', data-toggle='dropdown')
                .notification.d-none.d-lg-block.d-xl-block
                .fas.fa-share-square
                p.d-lg-none
                  | Quick Links
              ul.dropdown-menu.dropdown-menu-right.dropdown-navbar
                li.nav-link
                  a.nav-item.dropdown-item(href='/users/me/new-event') Create new Event
                li.nav-link
                  a.nav-item.dropdown-item(href='/events') View all My Events
            li.dropdown.nav-item
              a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
                h4.text-default.mr-3= user.name.split(' ')[0]
                .photo
                  img(src=`/img/users/${user.avatar}`, alt=`${user.name}`)
                b.caret.d-none.d-lg-block.d-xl-block
                p.d-lg-none
                  | Log out
              ul.dropdown-menu.dropdown-navbar
                li.nav-link
                  a.nav-item.dropdown-item(href='/users/me') Profile
                li.dropdown-divider
                li.nav-link
                  form#user_logout.form(method='POST' action='/users/logoutAll')
                    button.nav-item.dropdown-item(type='submit') Log out
            li.separator.d-lg-none
        else  
          li.nav-item
            a.nav-link(href='/login')
              | Login
          li.nav-item
            a.nav-link(href='/register')
              | Register


