extends base
block content 
  .header.header-5
    .page-header
      .container
        .row.align-items-center.mt-md-5
          .col-lg-6.col-md-8.ml-auto.mr-auto
            .logo
              .logo-image
                img(src='/img/creative-tim-white-slim2.png')
            h2.title.text-left Easily create EVENT TAGS for your guests.
            p= users
            .input-group
              input.form-control(type='text' placeholder="sign up now")
              .input-group-append
                span.input-group-text
                  i.tim-icons.icon-lock-circle
            a.btn.btn-info.btn-simple.btn-icon(href='')
              i.tim-icons.icon-send
          .col-lg-4.ml-auto.text-center
            .phone-container
              img.phone(src='/img/iphone2.png')
            img.shape(src='/img/patrat.png')
            img.shape2(src='/img/cercuri.png')
            img.shape3(src='/img/waves.png')