extends base
block content 
  .header.header-5
    .page-header
      img.path(src='/img/ptrn.png')
      .container
        .row.row-grid.justify-content-between.align-items-center.text-left
          .col-md-5.col-sm-12-px-0.ml-auto.mr-auto
            .logo
              .logo-image
                img(src='/img/creative-tim-white-slim2.png')
            h2.title.text-left.text-white
              | An INSTANT solution to help you swiftly CHECKIN GUESTS at your events and subsequently, TAG them as they arrive.
            a.mt-3.btn.btn-neutral.btn-plain(href='/register')
              i.fas.fa-file-signature.mr-3
              |  Start Managing your Events         
          .col-md-7.col-sm-12
            .image-container
              img.img-xtra(src='/img/ipad-checklist-mockup.png', alt='Events checklist')