extend base
block content
  .section
    .container
      .row.align-items-center.py-4
        .col-lg-6.col-7
          nav.d-none.d-md-inline-block.ml-md-4(aria-label='breadcrumb')
            ol.breadcrumb.breadcrumb-links.breadcrumb-dark
              li.breadcrumb-item
                a(href='/')
                  i.fas.fa-home
              li.breadcrumb-item
                a(href='/users/me') All Events
              li.breadcrumb-item.active(aria-current='page') New Event
        .col-lg-6.col-5.text-right
          a.btn.btn-sm.btn-default(href='#') Create Event
      .row
        .col-lg-10.ml-auto.mr-auto
          .card
            .card-body
              form#eventForm_create.js-validate(method='POST' action='/events')
                .container
                  h3.profile-title.text-left.text-default Event Info
                  .row
                    .col-md-12
                      labels.label
                        | Event Title
                        span.text-danger *
                      input#title.form-control(type='text', name='title', placeholder='Event title...')
                  br
                  .row
                    .col-md-6
                      label.labels
                        | Venue
                        span.text-danger *
                      input#venue.form-control(type='text', name='venue', placeholder='Venue...')
                    //- .col-md-6
                    //-   .js-form-message.mb-6
                    //-     label.labels
                    //-       | Address
                    //-       span.text-danger *
                    //-     input#address.form-control(type='text', name='address', placeholder='Address...')        
                  br
                  .row
                    .col-md-4
                      label.labels
                        | Event Date
                      input#eventDate.form-control(type='text', name='eventDate')
                    .col-md-4
                      label.labels
                        | Event Time
                      input#eventTime.form-control(type='text', name='eventTime')
                    .col-md-4
                      label.labels
                        | Duration (Days)
                      input#duration.form-control(type='number', name='duration')
                  br
                  .row
                    .col-md-12
                      .label.labels
                        | Description
                      textarea.form-control(name='description', rows='4', cols='80', placeholder='Describe event...')
                  br
                  .d-flex.justify-content-between.align-items-center
                    button.btn.btn-primary.btn-md(type='submit') Create event
