extend base
block content
  .page-header.error-page.header-filter
    .page-header-image(style="background-image: url('/img/braden-collum.jpg');")
    .container
      .row
        .col-md-12
          h1.title 404
          h2.description Page not found 
          h4.description= error
