/* Custom css */

body {
  background-color: #f8f9fe !important;
  color: #525f7f !important;
}

.header-5 {
  background: #5e72e4 !important;
  /* background-image: url("../img/badge-ptrn.png"); */
}

.header-5 .page-header .path {
  max-width: 65%;
  right: 0;
  top: 30px;
}

.navbar .navbar-toggler-bar {
  background: #0a0a47 !important;
}

.navbar .navbar-brand {
  color: #0a0a47 !important;
}

.nav-item .login-btn {
  padding: 6px 20px !important;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: #32325d !important;
  font-size: 1rem !important;
}

.dropdown-menu .dropdown-item {
  color: #32325d !important;
}

.navbar .caret {
  left: 95%;
  top: 55%;
  display: none !important;
}

.bootstrap-select .dropdown-menu.inner li a,
.dropdown-menu .dropdown-item {
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 5px;
  transition: 0.15s, linear;
}

/* .navbar-collapse {
  background: #5603ad !important;
} */

.text-primary {
  color: #5603ad !important;
}

.text-tertiary {
  color: #525f7f !important;
}

.img-xtra {
  max-width: 160% !important;
  height: auto;
}

.card {
  background: #fefefe !important;
}

.card-event {
  background: #0a0a47 !important;
}

.card-register .card-header .card-title,
.card-login .card-header .card-title {
  color: #0a0a47 !important;
  font-size: 3.4rem !important;
}

.card-profile .table td i {
  color: #0a0a47 !important;
}

.card-profile,
.card-testimonial {
  margin-top: 15px;
}

.form-control {
  border-color: #dee2e6 !important;
  color: #32325d !important;
  /* border: 1px solid #cad1d7; */
}

.btn-primary {
  background: #0a0a47 !important;
}

.btn.btn-simple,
.navbar .navbar-nav > a.btn.btn-simple {
  border-color: #0a0a47 !important;
  background: transparent !important;
}

.btn.btn-simple.active,
.navbar .navbar-nav > a.btn.btn-simple.active {
  border-color: #0a0a47 !important;
}

.btn-info.btn-simple {
  color: #0a0a47;
  border-color: #0a0a47;
  background: transparent;
}

.btn.active,
.btn.active:focus,
.btn.active:hover,
.btn:active,
.btn:active:focus,
.btn:active:hover,
.btn:focus,
.btn:hover,
.navbar .navbar-nav > a.btn.active,
.navbar .navbar-nav > a.btn.active:focus,
.navbar .navbar-nav > a.btn.active:hover,
.navbar .navbar-nav > a.btn:active,
.navbar .navbar-nav > a.btn:active:focus,
.navbar .navbar-nav > a.btn:active:hover,
.navbar .navbar-nav > a.btn:focus,
.navbar .navbar-nav > a.btn:hover {
  background-color: #0a0a47 !important;
  color: #fff;
  box-shadow: none;
}

.input-group-prepend .input-group-text {
  border-color: #dee2e6 !important;
}

.input-group-prepend .input-group-text {
  color: #2b3553 !important;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 12px 7px;
  vertical-align: middle;
  color: #0a0a47;
}

table,
th,
td {
  border-color: #f3f3f3 !important;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(246, 246, 246, 0.75);
}

.title {
  color: #32325d;
}

.breadcrumb {
  background: #0a0a47 !important;
}

.form-group input[type="file"] {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.avatar-upload {
  background: #ececec;
  border: 1px solid #ececec;
  color: #32325d;
  border-radius: 5px;
  margin: 10px 0;
  width: 75%;
  outline: 0 !important;
}

.alert,
.alert .alert-link {
  font-size: 1rem !important;
}

.messages {
  position: absolute;
  width: 50%;
  margin-top: 5%;
  margin-left: 25%;
  z-index: 99;
}

.footer {
  background: #0a0a47 !important;
}

.mt--6,
.my--6 {
  margin-top: -4.5rem !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.pb--1 {
  padding-bottom: 0.5rem !important;
}

.text-1 {
  font-size: 1rem !important;
}

.text-1-6 {
  font-size: 1.6rem !important;
}

.text-company {
  font-size: 0.85rem !important;
  text-align: center;
}

.text-gray {
  color: rgba(255, 255, 255, 0.5) !important;
}

/* BADGE */

.card-badge {
  border: 2px solid #0a0a47;
}

.badge-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.col__2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
  padding: 25px 0;
}

.col__3 {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 25px 0;
}

.col__9 {
  flex: 0 0 75%;
  max-width: 75%;
  /* background: #0a0a47 url("/public/img/badge-ptrn.png") top right; */
  background: #0a0a47 url("/public/img/dots.png") top right;
}

.col__10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
  background: #0a0a47;
  background: #0a0a47 url("/public/img/dots.png") top right;
  /* background: #0a0a47 url("/public/img/badge-ptrn.png") top right; */
}

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 5rem;
  font-weight: 900;
  margin-left: 0;
  margin-top: -20%;
  color: rgba(223, 223, 250, 0.35) !important;
}

h2.role {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 4rem;
  font-weight: 900;
  margin-left: -5px;
  margin-bottom: 15px !important;
  padding-top: 25px;
  color: #fff !important;
}

h3.fname {
  color: #fff !important;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin: 5px 0px;
}

h5.lname {
  color: #fff !important;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: left !important;
  margin-top: 5px;
}

h6.company {
  text-transform: lowercase;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  font-size: 1rem;
}

h4.event_date {
  color: #fff !important;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  text-align: center;
  margin: 15px 0 !important;
}

.header-5 .event {
  position: relative;
  z-index: 2;
  width: 100%;
}

.photo {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  vertical-align: middle;
  overflow: hidden;
}
.photo img {
  width: 100%;
}

/* DataTables */

div.dataTables_filter {
  padding-top: 0 !important;
}

div.dataTables_filter input {
  width: 300px;
  height: calc(2.25rem + 2px) !important;
  font-size: 0.75rem !important;
  padding: 10px 18px !important;
}

div.dt-buttons {
  float: right !important;
}

div.dataTables_info {
  color: #1d253b !important;
  opacity: 0.5 !important;
}

button.dt-button,
div.dt-button,
a.dt-button {
  color: #0a0a47 !important;
  border: 1px solid #0a0a47 !important;
  border-radius: 0.2857rem !important;
  background-color: #fff !important;
  background-image: none !important;
  padding: 4px 14px !important;
  margin: 4px 1px !important;
  font-weight: 600 !important;
  text-align: center !important;
  background-position: 100% 0;
}

button.dt-button:hover,
div.dtbutton:hover,
a.dt-button:hover {
  background-position: 0 100%;
  transition: 0.3s ease-in-out;
}

div.dataTables_wrapper,
div.dataTables_filter {
  text-align: left !important;
  float: left !important;
  width: 100% !important;
}

@media only screen and (min-width: 1824px) {
  div.dataTables_filter input {
    width: 410px !important;
    height: calc(2.25rem + 2px) !important;
    font-size: 0.75rem !important;
    padding: 10px 18px !important;
  }
}

@media only screen and (min-width: 1224px) {
  div.dataTables_filter input {
    width: 300px;
    height: calc(2.25rem + 2px);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  div.dataTables_filter input {
    width: 235px;
    height: calc(2.25rem + 2px);
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  div.dataTables_filter input {
    width: 200px !important;
    height: calc(2.25rem + 2px) !important;
  }
}
