/* Custom css */

body {
  background-color: #f8f9fe !important;
  color: #525f7f !important;
}

.header-5 {
  background: #0a0a47 !important;
}

.navbar .navbar-toggler-bar {
  background: #0a0a47 !important;
}

.navbar .navbar-brand {
  color: #0a0a47 !important;
}

.nav-item .login-btn {
  padding: 6px 20px !important;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: #32325d !important;
  font-size: 1rem !important;
}

/* .navbar-collapse {
  background: #5603ad !important;
} */

.text-primary {
  color: #5603ad !important;
}

.text-tertiary {
  color: #525f7f !important;
}

.card {
  background: #fefefe !important;
}

.card-event {
  background: #0a0a47 !important;
}

.card-register .card-header .card-title,
.card-login .card-header .card-title {
  color: #0a0a47 !important;
  font-size: 3.4rem !important;
}

.card-profile .table td i {
  color: #0a0a47 !important;
}

.card-profile,
.card-testimonial {
  margin-top: 15px;
}

.form-control {
  border-color: #dee2e6 !important;
  color: #32325d !important;
  /* border: 1px solid #cad1d7; */
}

.btn-primary {
  background: #0a0a47 !important;
}

.btn.btn-simple,
.navbar .navbar-nav > a.btn.btn-simple {
  border-color: #0a0a47 !important;
  background: transparent !important;
}

.btn.btn-simple.active,
.navbar .navbar-nav > a.btn.btn-simple.active {
  border-color: #0a0a47 !important;
}

.btn-info.btn-simple {
  color: #0a0a47;
  border-color: #0a0a47;
  background: transparent;
}

.btn.active,
.btn.active:focus,
.btn.active:hover,
.btn:active,
.btn:active:focus,
.btn:active:hover,
.btn:focus,
.btn:hover,
.navbar .navbar-nav > a.btn.active,
.navbar .navbar-nav > a.btn.active:focus,
.navbar .navbar-nav > a.btn.active:hover,
.navbar .navbar-nav > a.btn:active,
.navbar .navbar-nav > a.btn:active:focus,
.navbar .navbar-nav > a.btn:active:hover,
.navbar .navbar-nav > a.btn:focus,
.navbar .navbar-nav > a.btn:hover {
  background-color: #0a0a47 !important;
  color: #fff;
  box-shadow: none;
}

.input-group-prepend .input-group-text {
  border-color: #dee2e6 !important;
}

.input-group-prepend .input-group-text {
  color: #2b3553 !important;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 12px 7px;
  vertical-align: middle;
  color: #0a0a47;
}

table,
th,
td {
  border-color: #f3f3f3 !important;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(246, 246, 246, 0.75);
}

.title {
  color: #32325d !important;
}

.breadcrumb {
  background: #0a0a47 !important;
}

.footer {
  background: #0a0a47 !important;
}

.mt--6,
.my--6 {
  margin-top: -4.5rem !important;
}

.pb--1 {
  padding-bottom: 0.5rem !important;
}

.text-1 {
  font-size: 1rem !important;
}

.text-gray {
  color: rgba(255, 255, 255, 0.5) !important;
}
